<!-- 이 예제에서는 필요한 js, css 를 링크걸어 사용 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>

<!-- 클래스명은 변경하면 안 됨 -->
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="/images/slide/main.jpeg"></div>
		<div class="swiper-slide"><img src="/images/slide/item1.jpeg"></div>
		<div class="swiper-slide"><img src="/images/slide/item2.jpeg"></div>
		<div class="swiper-slide"><img src="/images/slide/item3.jpeg"></div>
		<div class="swiper-slide"><img src="/images/slide/item4.jpeg"></div>
		<div class="swiper-slide"><img src="/images/slide/item5.jpeg"></div>
		<div class="swiper-slide"><img src="/images/slide/item6.jpeg"></div>
		<div class="swiper-slide"><img src="/images/slide/item7.jpeg"></div>
		<div class="swiper-slide"><img src="/images/slide/item8.jpeg"></div>
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>
